p, form, ol, ul, li, dl, dt, dd, h3 {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.op_weather4_twoicon_container_div {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #ececec #ececec -moz-use-text-color;
    border-image: none;
    border-right: 1px solid #ececec;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    color: #fff;
    font-family: "微软雅黑";
    position: relative;
    width: 100%;
}
.op_weather4_twoicon_day, .op_weather4_twoicon_today {
    border: medium none;
    color: #fff;
    height: 250px;
    outline: medium none;
    position: absolute;
    text-decoration: none;
    width: 89px;
    z-index: 20;
}
.op_weather4_twoicon p {
    font-size: 12px;
    line-height: 1em;
    text-align: center;
    text-shadow: 1px 1px 1px #555;
}
.op_weather4_twoicon_date {
    margin-top: 46px;
}
.op_weather4_twoicon .op_weather4_twoicon_date_day {
    margin-top: 8px;
    opacity: 0.5;
    text-shadow: none;
}
.op_weather4_twoicon_icon {
    background: none no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 50px;
    margin: 15px 0 0 20px;
    width: 50px;
}
.op_weather4_twoicon_temp {
    margin-top: 27px;
}
.op_weather4_twoicon_weath {
    margin-top: 12px;
}
.op_weather4_twoicon_wind {
    margin-top: 11px;
}
.op_weather4_twoicon_split {
    background: none repeat scroll 0 0 #fff;
    height: 180px;
    left: 0;
    opacity: 0.15;
    position: absolute;
    top: 48px;
    width: 1px;
}
.op_weather4_twoicon_hover {
    height: 250px;
    position: absolute;
    width: 89px;
}
.op_weather4_twoicon_day:hover .op_weather4_twoicon_hover {
        background-image:-webkit-linear-gradient(top, rgba(255,255,255,.015), rgba(255,255,255,.15));
        background-image:-o-linear-gradient(top, rgba(255,255,255,.015), rgba(255,255,255,.15));
        background-image:-ms-linear-gradient(top, rgba(255,255,255,.015), rgba(255,255,255,.15));
        background-image:-moz-linear-gradient(top, rgba(255,255,255,.015), rgba(255,255,255,.15));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr=#04FFFFFF,EndColorStr=#40FFFFFF);
    }
.op_weather4_twoicon_today {
    width: 186px;
}
.op_weather4_twoicon_today .op_weather4_twoicon_date {
    margin: 14px 0 0 14px;
    text-align: left;
    width: 300px;
}
.op_weather4_twoicon_today .op_weather4_twoicon_icon {
    height: 70px;
    margin: 20px 0 0 60px;
    width: 70px;
}
.op_weather4_twoicon_today .op_weather4_twoicon_temp {
    font-family: Arial;
    font-size: 32px;
    margin-top: 5px;
    padding-left: 14px;
}
.op_weather4_twoicon_today .op_weather4_twoicon_temp sup {
    font-size: 0.5em;
}
.op_weather4_twoicon_pm25 {
    font-size: 15px;
    margin-top: 9px;
}
.op_weather4_twoicon_pm25 em {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    height: 18px;
    line-height: 18px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 90px;
}
.c-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
/*****************************************/

.op_weather4_twoicon {
	height: 282px;
}

.op_weather4_twoicon_bg {
	height: 282px;
}

.op_weather4_xiala {
	width: 100%;
	position: absolute;
	z-index: 5;
	top: 251px;
	font-family: '微软雅黑', '黑体', Arial;
}

.op_weather4_xltab ul li {
	width: 78px;
	list-style: none;
	float: left;
	background: rgba(255, 255, 255, 0.2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,
		startColorstr='#20ffffff', endColorstr='#20ffffff');
	text-align: center;
	line-height: 26px;
	margin-right: 1px;
	font-size: 13px;
	display: block;
}

.op_weather4_xltab ul li.op_weather4_xlactive {
	height: 27px;
	background: rgba(255, 255, 255, 0.1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,
		startColorstr=#10ffffff, endColorstr=#10ffffff);
}

.op_weather4_xlcon {
	background: rgba(255, 255, 255, 0.1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,
		startColorstr=#10ffffff, endColorstr=#10ffffff);
	height: 114px;
}

.op_weather4_xltip {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	font-size: 12px;
}

.op_weather4_xlico {
	position: absolute;
	width: 10px;
	height: 10px;
	border-color: transparent transparent white transparent;
	border-style: solid;
	border-width: 0 5px 5px 5px;
	width: 0;
	height: 0;
	top: 1px;
	z-index: 2;
}

.op_weather4_xlcont {
	background: #fff;
	margin-top: 5px;
	color: #555;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.op_weather4_xlzs {
	width: 200px;
	float: left;
	margin-left: 17px;
	border-bottom: 1px solid #ddd;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	line-height: 32px;
	height: 32px;
	cursor: pointer;
}

.op_weather4_xlzstit {
	font-size: 14px;
}

.op_weather4_xlzstitdes {
	font-size: 12px;
}

.op_weather4_xlbornone {
	border-bottom: 0;
}

.op_weather4_xltop {
	padding-top: 8px;
	clear: both;
}

.op_weather4_xltiptitle {
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
}

.op_weather4_xltipcontent {
	line-height: 20px;
}

.op_weather4_xlopen {
	width: 100%;
	height: 29px;
	background: rgba(0, 0, 0, 0.1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,
		startColorstr=#10000000, endColorstr=#10000000);
	cursor: pointer;
	text-align: center;
	z-index: 6;
	padding-top: 3px;
}

.op_weather4_tipbtn {
	display: inline-block;
	padding: 2px 0;
	cursor: pointer;
}

.op_weather4_tipbtn span {
	display: inline-block;
}
